h1 {
  font-family: arial;
  font-size: 55;
  font-color: blue;
  text-align: center;
}
h2 {
  font-family: arial;
  font-size: 40;
  text-align: left;
}
p {
  font-family: arial;
  font-size: 20;
}
a {
  font-color: blue;
  font-family: arial;
  font-size: 20;
}
a:link {
  font-color: lime;
  font-family: arial;
  font-size: 20; 
}
legend {
  font-family: arial;
  font-size: 20;
}
input {
  font-family: arial;
  font-size: 20;
}
body{
  font-family: arial;
  border-color: #008B8B;
  background-color: #F0FFFF;
}
