h1 {
  font-family: arial-black;
  font-size: 55;
  font-color: blue;
  text-align: center;
}
h2 {
  font-family: arial;
  font-size: 40;
  text-align: left;
}
p {
  font-family: arial;
  font-size: 20;
  text-align: center;
}
